<h1>It's super ajax fun time</h1>

<h2>Tweet Actions!</h2>

<button id='fetch-tweets'>Fetch all tweets!</button>

<button id='fetch-gif'>Fetch Monkey Gif!</button>
<button id='fetch-other-gif'>Fetch Other Monkey Gif!</button>

<h3>Fetch specific tweet</h3>

<form id='fetch-tweet'>
  <label for="id">Tweet Number:</label>
  <input type="number" id="id" name="id">
  <button>Fetch tweet!</button>
</form>

<h3>Post Tweet!</h3>

<form id='post-tweet'>
  <label for="body">Tweet Body:</label>
  <input id="body" type="text" name="body">
  <button>Post tweet!</button>
</form>

<section class='flex'>

  <section id='tweets'>
    <h2>My Tweets will show up here!</h2>
    <ul>

    </ul>
  </section>

  <section id='gifs'>
    <h2>These are my gifs</h2>
    <ul>

    </ul>
  </section>
  <section id='other-gifs'>
    <h2>These are my other gifs</h2>
    <ul>

    </ul>
  </section>
</section>
