body, h1, article {
  margin: 0;
  padding: 0;
}

div {
  background-color: aliceblue;
  width: 500px;
  padding: 10px;
  border: 2px solid red;
  box-sizing: border-box;
}

a {
  background-color: darksalmon;
}
