<script type="text/javascript">
  <% if logged_in? %>
  	window.currentUser =
      <%= render("api/users/user.json.jbuilder", user: current_user).html_safe %>
  <% end %>
  window.notTwitter = "<%= image_url('definitely-not-twitter.png') %>";
</script>

<div id="content"></div>
