<!DOCTYPE html>
<html>
<head>
  <title>Twitter</title>
</head>
<body>

  <% if current_user %>
    <h1>Hey, <%= current_user.name %></h1>
    <form action="<%= session_url %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="hidden"
        name="authenticity_token"
        value="<%= form_authenticity_token %>">
      <input type="submit" value="Log Out">
    </form>
  <% end %>

<%= yield %>

</body>
</html>
