<h2>Display Property</h2>

<section class="display">
		<section class="content">
			Block Elements take up 100% of parent
		</section>

		<section class="content sized-block">
			We can give Block elements width &amp; height
		</section>

		<section class="content">
			<span class="green">Inline Elements</span>
			<span class="blue">are as big as</span>
			<span class="pink">their largest descendant</span>
		</section>

		<section class="content">
			<span class="green sized-inline" style="width:100px;">Inline elements</span>
			<span class="blue" style="height:100px;">do not respect</span>
			<span class="pink" style="height:100px;width:100px;">width/height styles</span>
		</section>

		<section class="content sized-ilb">
			Inline-Blocks can be given size
		</section>
		<section class="ilb">
			<section class="content">
				and are only as big as their largest descendant
		</section>
	</section>

</section>
