<h2>Floating &amp; ClearFix</h2>

<section class="float">
		<section class="content clearfix">
			<div class="thumbnail">
				<img src="http://critterbabies.com/wp-content/gallery/kittens/cats-animals-kittens-background-us.jpg" alt="kitten">
			</div>
				<!-- Floating elements removes them from Document Flow, allowing other elements to wrap around them
				Floating elements removes them from Document Flow allowing other elements to wrap around them
				Floating elements removes them from Document Flow allowing other elements to wrap around them
				Floating elements removes them from Document Flow allowing other elements to wrap around them
				Floating elements removes them from Document Flow allowing other elements to wrap around them -->
		</section>

		<section class="content clearfix">
			<div class="thumbnail">
				<img src="https://a.dilcdn.com/bl/wp-content/uploads/sites/8/2013/09/Gibson.jpg" alt="puppy">
			</div>
			<div class="thumbnail">
				<img src="https://drscdn.500px.org/photo/38710368/m%3D900/8bcfc42624473244aa455cd900e2a970" alt="monkey">
			</div>
			<div class="thumbnail">
				<img src="http://yesserver.space.swri.edu/yes2013/personal/emilyklotzbach/panda2.jpg" alt="panda">
			</div>
		</section>
</section>
