<h2>Margin Collapse</h2>

<section class="margin cf">
		<section class="content">
Vertical Margins Collapse
		</section>

		<section class="content">
Vertical Margins Collapse
		</section>

		<section class="content">
Float Margins Do Not Collapse
		</section>

		<section class="content">
Float Margins Do Not Collapse
		</section>

</section>
