<h2>Positioning</h2>
<section class="positioning">
<section class="flexbox content">
	<nav>
		<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Appacademylogo.png/175px-Appacademylogo.png" alt="App Academy">
		<ul>
			<li class="dropdown-link">
				<a href="#">Home</a>
				<ul class="dropdown">
					<li><a href="#">Cat1</a></li>
					<li><a href="#">Cat2</a></li>
					<li><a href="#">Cat3</a></li>
				</ul>
			</li>
			<li><a href="#">About</a></li>
			<li><a href="#">Profile</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
	</nav>
</section>
</section>
