<h2>Specificity</h2>

<section class="specificity">
		<section class="content blue1 blue1--large">
			section element with content class
		</section>

		<section class="content">
			<span class="test">
				nested span in a section with content class.
			</span>
		</section>

		<section id="section-id" class="content">
			<span class="span-class">
				nested span with span-class
			</span>
		</section>

		<section class="content">
			<span class="span-class" id="span-id">
				nested span with span-class and span-id
			</span>
		</section>

		<section class="content">
			<span class="span-class" style="color:red;">
				nested span with span-class &amp; in-line styling
			</span>
		</section>

</section>
