html, body, div {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
}

main {
  position: static;
  top: 60px;
  /*padding-top: 60px;*/
}

div {
  display: inline-block;
  background-color: grey;
  width: 30%;
  height: 100px;
}
.middle {
  position: absolute;
  top: 30px;
  left:30px;
  background-color: blue;
}