<!DOCTYPE html>
<html>
  <head>
    <title>TweetAcademy</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      <% if logged_in? %>
        window.currentUser = <%= render 'api/users/user', user: current_user %>
      <% end %>
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
