<script type="text/javascript">
  <% if logged_in? %>
  	window.currentUser =
      <%= render("api/users/user.json.jbuilder", user: current_user).html_safe %>
  <% end %>
  // only for static images. Not things that your users upload
  window.images = {
    twitterLogo: "<%= image_path("definitely-not-twitter.png") %>"
  }
</script>

<div id="content"></div>
