.dropdown {
	display: none;
	position: absolute;
	box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.2);
	width: 100px;
	background: white;
}

.dropdown-link:hover .dropdown {
	display: flex;
	flex-direction: column;
}

.dropdown li {
	padding: 10px;
	font-size: 14px;
	margin: 0;
}

.dropdown li:hover {
	background: $light-blue;
}
