<h1>Sign Up</h1>

<form action="<%= users_url %>" method="post">
  <input type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

  <input type="text" name="user[name]" value="">
  <input type="password" name="user[password]" value="">
  <input type="submit" value="Sign Up">
</form>
