<h1>A Single Tweet</h1>
<%= render 'tweet', tweet: @tweet %>
<form method="POST" action="<%= tweet_url(@tweet) %>">
  <input type="hidden" name="_method" value="DELETE" />
  <input type="submit" value="Delete">
</form>
<a href="<%= edit_tweet_url(@tweet) %>">Edit</a>
<a href="<%= tweets_url %>">Home</a>
