<div class="jumbotron">
  <h1>Welcome to Star Trek Bad Asses</h1>
  <div class="row">
    <div class="col-md-6">
Pea horseradish azuki bean lettuce avocado asparagus okra. Kohlrabi radish okra azuki bean corn fava bean mustard tigernut jícama green bean celtuce collard greens avocado quandong fennel gumbo black-eyed pea. Grape silver beet watercress potato tigernut corn groundnut. Chickweed okra pea winter purslane coriander yarrow sweet pepper radish garlic brussels sprout groundnut summer purslane earthnut pea tomato spring onion azuki bean gourd. Gumbo kakadu plum komatsuna black-eyed pea green bean zucchini gourd winter purslane silver beet rock melon radish asparagus spinach.
    </div>
    <div class="col-md-6">
Beetroot water spinach okra water chestnut ricebean pea catsear courgette summer purslane. Water spinach arugula pea tatsoi aubergine spring onion bush tomato kale radicchio turnip chicory salsify pea sprouts fava bean. Dandelion zucchini burdock yarrow chickpea dandelion sorrel courgette turnip greens tigernut soybean radish artichoke wattle seed endive groundnut broccoli arugula.
    </div>
  </div>
</div>

<h2>The Metal</h2>

<div class="row">
  <div class="col-md-3">
    <div class="feature-photo">
      <img src="http://www.advanceair.net/news/wp-content/uploads/2012/10/Star-Treck-picard.jpg" class="img-circle img-responsive">
    </div>
    <h3>Picard</h3>
    <p>
Beef tongue flank pork chop drumstick pork belly pastrami fatback filet mignon ham short loin pig bresaola. Doner chuck pork chop, shank prosciutto venison pastrami drumstick strip steak jerky porchetta flank tri-tip meatball brisket. Tongue swine hamburger ham drumstick tenderloin. Turducken beef ground round turkey. Flank landjaeger biltong kevin venison capicola chuck.
    </p>
  </div>
  <div class="col-md-3">
    <div class="feature-photo">
      <img src="http://images2.fanpop.com/image/photos/13600000/Benjamin-Sisko-benjamin-sisko-13605618-694-530.jpg" class="img-circle img-responsive">
    </div>
    <h3>Sisko</h3>
    <p>
    Bresaola pork jowl meatloaf, beef pastrami landjaeger pork belly ham hock leberkas biltong tri-tip venison. Tail beef doner chuck pig capicola ham. Fatback kevin brisket filet mignon hamburger. Ribeye andouille pancetta chuck turkey prosciutto, cow t-bone rump beef pork loin strip steak porchetta jerky. Pork belly drumstick salami, porchetta short loin tri-tip pastrami pork prosciutto brisket chicken shoulder.
    </p>
  </div>
  <div class="col-md-3">
    <div class="feature-photo">
      <img src="http://www.startrek.com/legacy_media/images/200307/worf06/320x240.jpg" class="img-circle img-responsive">
    </div>
    <h3>Worf</h3>
    <p>
    Shank pastrami filet mignon spare ribs sirloin tri-tip turducken, ground round frankfurter boudin beef drumstick. Ball tip ground round kevin doner pig sausage, ham beef. Landjaeger ball tip fatback, cow andouille filet mignon spare ribs bacon drumstick beef ribs chicken salami. Tenderloin rump turkey short loin, ribeye capicola shoulder venison frankfurter sausage. Tail short loin shankle bacon drumstick.
    </p>
  </div>
  <div class="col-md-3">
    <div class="feature-photo">
      <img src="http://images4.fanpop.com/image/photos/15000000/Seven-seven-of-nine-15093087-2560-1600.jpg" class="img-circle img-responsive">
    </div>
    <h3>Seven of Nine</h3>
    <p>
Andouille filet mignon ribeye shoulder. Andouille ball tip shank, frankfurter filet mignon corned beef biltong kielbasa tenderloin ribeye. Pork fatback drumstick ball tip pastrami shankle boudin ground round meatloaf beef ribs chuck andouille filet mignon. Meatball brisket ground round t-bone, tongue bresaola biltong. Frankfurter tri-tip jerky ground round, jowl ham turkey sirloin pancetta leberkas andouille shoulder.
    </p>
  </div>
</div>
