<h1>New Tweet</h1>

<form action="<%= tweets_url %>" method="post">
  <%= auth_token_input %>

  <label>
    Title
    <input type="text" name="tweet[title]" value="<%= @tweet.title %>">
  </label>

  <label>
    Body
    <textarea name="tweet[body]"><%= @tweet.body %></textarea>
  </label>

  <input type="submit" value="Create New Tweet">
</form>
