<form action="<%= people_url %>" method="post">
  <label for="person[name]">Name:</label>
  <input type="text" name="person[name]" />
  <br/>
  <label for="person[picture_url]">Picture Url</label>
  <input type="text" name="person[picture_url]" />
  <input type="submit" value="Submit!" />
</form>
