.group:after {
  content: "";
  clear: both;
  display: block;
}

.first {
  display: block;
  background: red;
  width: 400px;
  height: 400px;
  float: left;
}
.second {
  display: block;
  background: blue;
  width: 400px;
  height: 400px;
  float: left;
}
