<div id="content" class="full-size"></div>

<div class="links-panel">
  <ul>
    <li><a href="/#basic">Basic</a></li>
    <li><a href="/#markers">Markers</a></li>
    <li><a href="/#events">Events</a></li>
    <li><a href="/#search">Search</a></li>
  </ul>
  Check out the code on
  <a href="https://github.com/appacademy/google-maps-demo">GitHub!</a>
</div>
