html, body, figure, h1, ul, li {
  margin: 0;
  padding: 0;
  border: 0;

  text-align: inherit;
  font: inherit;
  color: inherit;
  background: transparent;
  box-sizing: inherit;
}

h1 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
}

button {
  display: block;
  margin-top: 30px;
  margin: auto;
  cursor: pointer;
}

.cat-click-grid {
  margin: auto;
  background: url("./jack_bauer.png") center;
  background-size: cover;
  width: 300px;
  border: 5px solid #000;
}

.cat-click-grid > li {
  border: 5px solid black;
  float: left;
  width: 90px;
  height: 90px;
  background: lightblue;
  cursor: pointer;
}

ul {
  list-style: none;
}

.cat-click-grid > li.clicked {
  background: transparent;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}
